In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['a'+str(x) for x in range(3)],
                    'B': ['b'+str(x) for x in range(3)],
                    'C': ['c'+str(x) for x in range(3)]},
                     index=[0, 1, 2])

df2 = pd.DataFrame({'D': ['a'+str(x) for x in range(3, 6)],
                    'E': ['b'+str(x) for x in range(3, 6)],
                    'F': ['c'+str(x) for x in range(3, 6)]},
                     index=[0, 1, 2]) 

print(df1, '\n---\n', df2)

    A   B   C
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
---
     D   E   F
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5

In [4]:
pd.concat([df1, df2], sort=False)

     A    B    C    D    E    F
0   a0   b0   c0  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN
0  NaN  NaN  NaN   a3   b3   c3
1  NaN  NaN  NaN   a4   b4   c4
2  NaN  NaN  NaN   a5   b5   c5

In [8]:
pd.merge(df1,df2, left_index=True, right_index=True)

    A   B   C   D   E   F
0  a0  b0  c0  a3  b3  c3
1  a1  b1  c1  a4  b4  c4
2  a2  b2  c2  a5  b5  c5

In [9]:
df1.join(df2)

    A   B   C   D   E   F
0  a0  b0  c0  a3  b3  c3
1  a1  b1  c1  a4  b4  c4
2  a2  b2  c2  a5  b5  c5